@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate(120%, 0);
    transform: translate(120%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate(120%, 0);
    transform: translate(120%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate(-120%, 0);
    transform: translate(-120%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate(-120%, 0);
    transform: translate(-120%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 120%);
    transform: translate(0, 120%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 120%);
    transform: translate(0, 120%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -120%);
    transform: translate(0, -120%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -120%);
    transform: translate(0, -120%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes fadeOutRight {
  from {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate(120%, 0);
    transform: translate(120%, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate(120%, 0);
    transform: translate(120%, 0);
  }
}

@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate(-120%, 0);
    transform: translate(-120%, 0);
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate(-120%, 0);
    transform: translate(-120%, 0);
  }
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate(0, 120%);
    transform: translate(0, 120%);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate(0, 120%);
    transform: translate(0, 120%);
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate(0, -120%);
    transform: translate(0, -120%);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate(0, -120%);
    transform: translate(0, -120%);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate(120%, 0);
    transform: translate(120%, 0);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate(120%, 0);
    transform: translate(120%, 0);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate(-120%, 0);
    transform: translate(-120%, 0);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate(-120%, 0);
    transform: translate(-120%, 0);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate(0, 120%);
    transform: translate(0, 120%);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate(0, 120%);
    transform: translate(0, 120%);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate(0, -120%);
    transform: translate(0, -120%);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate(0, -120%);
    transform: translate(0, -120%);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(120%, 0);
    transform: translate(120%, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(120%, 0);
    transform: translate(120%, 0);
  }
}

@-webkit-keyframes slideOutLeft {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(-120%, 0);
    transform: translate(-120%, 0);
  }
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(-120%, 0);
    transform: translate(-120%, 0);
  }
}

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(0, 120%);
    transform: translate(0, 120%);
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(0, 120%);
    transform: translate(0, 120%);
  }
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(0, -120%);
    transform: translate(0, -120%);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  to {
    -webkit-transform: translate(0, -120%);
    transform: translate(0, -120%);
  }
}

@-webkit-keyframes panelFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes panelFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes panelFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes panelFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes panelSideIn {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes panelSideIn {
  from {
    opacity: 0;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-webkit-keyframes panelSideOut {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}

@keyframes panelSideOut {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}